.info {
    display: flex;
    flex-direction: column;
    gap: 3px;


    .nameContainer {
        display: flex;
        gap: 5px;

        h5 {
            text-transform: capitalize;
        }

        p {
            font-weight: 300;
            font-size: 0.8rem;
        }
    }

    .barraTotal {
        background-color: var(--thirdground);
        width: 100%;
        height: 8px;
        border-radius: 2rem;

        .preenchimento {
            background-color: var(--gold);
            height: 8px;
            border-radius: 2rem;
        }
    }
}