.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    min-width: 285px;
    min-height: 616px;
    padding: 20px;
    background-color: var(--secundaryground);
    border: 1px solid var(--thirdground);
    border-radius: 1rem;
    font-family: var(--ff-poppins);
    transition: all .4s;
    //position: fixed;
    //top: 10%;
    //left: 10%;

    .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .name {
                h2 {
                    font-size: 1.2rem;
                    font-weight: 500;

                }
            }

            .title {
                background-color: #272727;
                padding: 5px 15px;
                border-radius: 2rem;
                text-align: center;

                h3 {
                    font-size: .8rem;
                    font-weight: 300;
                }
            }
        }

        .imageContainer {
            width: 150px;
            height: 150px;
            position: relative;
            background-color: var(--thirdground);
            border-radius: 1rem;
        }


    }

    .contactContainer {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .contacts {
            display: flex;
            align-items: center;
            gap: 20px;

            .icons {
                padding: 5px;
                border-top: 1px solid var(--thirdground);
                border-left: 1px solid var(--thirdground);
                border-radius: .4rem;
                color: var(--gold)
            }

            .text {
                h4 {
                    font-weight: 300;
                    font-size: 0.7rem;
                    text-transform: uppercase;
                }

                p {
                    font-size: .9rem;
                }
            }
        }
    }

    .iconContainer {
        display: flex;
        gap: 20px;
        color: #a8a8a8;


        svg {
            transition: .4s;

            &:hover {
                color: var(--gold);
            }
        }
    }

    .toggleContainer {
        position: absolute;
        top: 10px;
        right: 10px;
        display: none;
    }
}

@media(max-width: 1250px) {
    .container {
        width: 100%;
        min-height: 150px;
        //max-height: 150px;
        overflow: hidden;
        gap: 35px;

        .infoContainer {
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;

            .imageContainer {
                width: 120px;
                height: 120px;
            }
        }

        .contactContainer {
            flex-direction: row;
        }

        .toggleContainer {
            display: block;
        }
    }
}

@media(max-width: 744px) {
    .container {
        width: 80%;

        .contactContainer {
            flex-direction: column;
            justify-content: flex-start;
            //background-color: red;
            width: 100%;
        }
    }
}

@media(max-width: 450px) {
    .container {
        display: none;
    }
}