.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    //background-color: red;


    .imageContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        border-radius: 1rem;
        width: 100%;
        cursor: pointer;

        img {
            border-radius: 1rem;
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
            transition: .4s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    p {
        font-weight: 300;
        text-transform: uppercase;
    }


}